@import url(../public/font.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .textFiled__input {
    @apply w-full py-3 px-4 rounded-xl text-secondary-900 dark:text-secondary-200 border border-gray-300 bg-secondary-100 dark:bg-secondary-800 focus:bg-white dark:focus:bg-secondary-700 hover:border-primary-500 focus:border-primary-500 focus:shadow-lg dark:focus:shadow-none focus:shadow-primary-200/70 duration-300 transition-all ease-out;
  }
  .btn {
    @apply py-3 px-4 rounded-xl text-secondary-0 dark:text-secondary-200 font-Vazir-Medium shadow-lg transition-all ease-out duration-300;
  }
  .btn--primery {
    @apply bg-primary-900 dark:bg-primary-700 hover:bg-primary-800 dark:hover:bg-primary-900  shadow-primary-300 dark:shadow-primary-900/50;
  }
  .btn--secondary {
    @apply bg-secondary-800 hover:bg-secondary-700  shadow-secondary-300;
  }
  .btn--secondary__outline {
    @apply border-2 border-red-600 dark:border-red-500 text-red-700 dark:text-red-500 shadow-red-100 dark:shadow;
  }
  .link {
    @apply flex items-center gap-2 w-full hover:bg-secondary-200 dark:hover:bg-secondary-700 p-3 rounded-lg transition-all duration-300;
  }
  .link__item .active {
    @apply text-primary-900 dark:text-secondary-200 bg-primary-200/50 dark:bg-primary-700;
  }
  .projects-container__table {
    @apply w-full border border-secondary-300 dark:border-secondary-500 rounded-lg overflow-x-auto;
  }
  .projects__table {
    @apply min-w-[1000px] w-full text-center  bg-secondary-0 dark:bg-secondary-600;
  }
  .projects__table-title {
    @apply max-h-[35px] line-clamp-1 overflow-hidden;
  }
  .badge {
    @apply h-[26px] flex items-center justify-center whitespace-nowrap px-4 py-0.5 text-sm bg-secondary-200/70 dark:bg-secondary-500 rounded-full transition-all duration-300;
  }
  .badge--red {
    @apply bg-red-200 dark:bg-red-800 text-red-700 dark:text-red-300;
  }
  .badge--green {
    @apply bg-green-200 dark:bg-green-900 text-green-600 dark:text-green-300;
  }
  .nav__item {
    @apply flex justify-center items-center px-2 py-2;
  }
  .stat__container {
    @apply p-5 flex-grow  bg-secondary-0 dark:bg-secondary-700 rounded-2xl text-secondary-800 dark:text-secondary-300;
  }
  .stat__icon-container {
    @apply size-36 flex justify-center items-center rounded-full;
  }
  .stat__title {
    @apply font-Vazir-Bold text-2xl text-secondary-800 dark:text-secondary-100;
  }
}

/*----------- --------------   CSS CLASS         ---------------------------- */

* {
  outline: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: theme("fontFamily.Vazir");
  @apply transition-all duration-300 ease-in bg-slate-100 dark:bg-secondary-800 !important;
}

tbody tr {
  @apply hover:bg-slate-100/50 dark:hover:bg-secondary-500/40 transition-all duration-300;
}

th,
td {
  @apply whitespace-nowrap text-secondary-800 dark:text-secondary-100;
}

td {
  @apply text-secondary-800 dark:text-secondary-300;
}
tr td,
th {
  @apply p-3;
}
tbody tr {
  @apply border-b dark:border-secondary-500;
}
tbody tr:last-child {
  @apply border-b-0 !important;
}

.rti--container {
  @apply w-full py-3 px-4 rounded-xl text-secondary-800 dark:text-secondary-400 border border-gray-300 bg-secondary-100 dark:bg-secondary-800 focus:bg-white hover:border-primary-500 focus:border-primary-500 focus:shadow-lg focus:shadow-primary-200/70 duration-300 transition-all ease-out !important;
}
.rti--tag {
  @apply flex items-center pr-3 py-1 bg-primary-100/40 dark:bg-secondary-600 text-primary-800 dark:text-primary-400 !important;
}

.rti--input {
  @apply bg-secondary-100 dark:bg-secondary-800 !important;
}
